<h1>新しいカテゴリ</h1>
<%= turbo_frame_tag('new_category', target: '_top') do %>
  <%= form_with(model: @category) do |form| %>
    <div>
      <%= form.text_field(:name) %>
      <%= form.submit('送信') %>
    </div>
  <% end %>
<% end %>

<h1>カテゴリ一覧</h1>
<div id="categories"><!-- ここのidがキー、categoriesになることによってリアルタイム更新される -->
  <%= render(partial: 'categories/category', collection: @categories) %>
</div>
